{% extends 'base.html' %}
{% block title %}{{ post.title_tag }}{% endblock %}

{% block content %}

<h1>{{ post.title }} </h1>
<small>
    {{ post.author.first_name }} 
    {{post.author.last_name}} - 
    {{ post.date_created }} 

    <!--When user is signed in-->
    {% if user.is_authenticated %}
        <!--Check the correct user is logged in-->
        {% if user.id == post.author.id %}
            | 
            <a href="{% url 'update_post' post.pk %}">(edit)</a> 
            <a href="{% url 'delete_post' post.pk %}">(delete)</a>
        {% endif %}
    {% endif %}
</small>
</br>
<hr>
<br/>
{% if post.header_image %}
    <img src = "{{ post.header_image.url }}"> <br/>
{% endif %}
{{ post.body|safe }}

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

<!--Like Button-->
<br/><br/>
<hr>
<br/>
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
        {% if liked %}
            <button type="submit", name="post_id", value = "{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button> 
        {% else %}
            <button type="submit", name="post_id", value = "{{ post.id }}", class="btn btn-primary btn-sm">Like</button> 
        {% endif %}
    {% else %}
        <small><a href="{% url 'login' %}">Login</a> to like</small>
    {% endif %}
    - {{ total_likes }} Likes
</form>

<br/><br/>
<!--User Card-->
<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-2">
            {% if post.author.profile.profile_pic %}
                <img src="{{ post.author.userprofile.profile_pic.url }}" class="card-img">
            {% endif %}
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name }}</h5>
                <p class="card-text"><small class="text-muted">
                    
                    {% if post.author.userprofile.lnkdin_url %}
                        <a href ="post.author.userprofile.lnkdin_url" >LinkedIn</a> | 
                    {% endif %}
                    
                    <!--Git linking-->
                    {% if post.author.userprofile.git_url %}
                        <a href ="post.author.userprofile.git_url" >Github</a> 
                    {% endif %}
                </small></small></p>
                <p class="card-text">{{ post.author.userprofile.bio }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}