{% extends 'base.html' %}

{% block content %}

<!-- Page Header-->
<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="fw-light">Blog Posts</h1>
        </div>
      </div>
    </div>
  </header>
  
  <!-- Page Content -->
  

<!--list posts with links-->
{% for post in object_list %}
    <div>
        <h3><a href="{% url 'article-detail' post.pk %}">{{ post.title }}<a></h3>
        <a href="{% url 'category' post.category|slugify %}" class="badge badge-secondary">{{ post.category }}</a>
        <p>{{ post.summary }}</p>
        <small><em>{{ post.author.first_name }} {{ post.author.last_name }} - ({{ post.date_created }})</em></small>
        <hr>
    </div>    
{% endfor %}    



{% endblock %}